* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100vh;
    padding-bottom: 2rem;
}

.line_after {
    position: relative;
}

.line_after:hover::after {
    width: 100%;
}

.line_after::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #c171f2;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out;
}

/* width */
::-webkit-scrollbar {
    width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#boxBackground{
    background-image: url(../img/background.png);
    /* background-image: url(../img/justBackground.jpg); */
    background-position: center;
    background-size:  auto 100%;
    object-fit:cover;
}