.wmsArrowButton {
  animation: float 2s ease-in-out infinite;
  transform: translateY(0px);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(1px);
  }

  100% {
    transform: translateY(0px);
  }
}